name: Run Checkmarx

on:
  pull_request:
    types: [opened, reopened, synchronize]
  repository_dispatch:
    types: [run-test-command]



jobs:
  test:
    name: Checkmarx
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.pull_request.head.sha }}

      - name: Check Content
        run: |
          echo "Checking Contents"
          pwd
          find . -type f | grep -i -E -o "\.\w*$" | sort | uniq -c

      - name: Checkmarx CxFlow Action
        uses: checkmarx-ts/checkmarx-cxflow-github-action@v1.4
        with:
          team: ${{ secrets.CHECKMARX_TEAM }}
          project: ${{ github.repository }}-PR
          checkmarx_url: ${{ secrets.CHECKMARX_URL }}
          checkmarx_client_secret: ${{ secrets.CHECKMARX_CLIENT_SECRET }}
          checkmarx_password: ${{ secrets.CHECKMARX_PASSWORD }}
          checkmarx_username: ${{ secrets.CHECKMARX_USERNAME }}
          incremental: false
          scanners: sast
          break_build: false
          bug_tracker: GITHUBPULL
          params: --namespace=${{ github.repository_owner }}  --repo-name=${{ github.event.repository.name }} --branch=${{ github.head_ref }} --merge-id=${{ github.event.number }} --cx-flow.filterSeverity --cx-flow.filterCategory --logging.level.com.checkmarx.flow.custom=debug --logging.level.com.checkmarx.flow.service=debug --logging.level.com.checkmarx.flow.utils=debug --logging.level.com.checkmarx.sdk.service=debug
          java_opts: -Xmx4g
